;{{ ansible_managed }}

[global]
pid = {{ fpm_config['pid'] }}
error_log = {{ fpm_config['error_log'] }}
syslog.facility = {{ fpm_config['syslog.facility'] }}
syslog.ident = {{ fpm_config['syslog.ident'] }}
log_level = {{ fpm_config['log_level'] }}
emergency_restart_threshold = {{ fpm_config['emergency_restart_threshold'] }}
emergency_restart_interval = {{ fpm_config['emergency_restart_interval'] }}
process_control_timeout = {{ fpm_config['process_control_timeout'] }}
process.max = {{ fpm_config['process.max'] }}

{% if fpm_config['process.priority'] is defined %}
process.priority = {{ fpm_config['process.priority'] }}
{% endif %}

daemonize = {{ fpm_config['daemonize'] }}

{% if fpm_config['rlimit_files'] is defined %}
rlimit_files = {{ fpm_config['rlimit_files'] }}
{% endif %}

{% if fpm_config['rlimit_core'] is defined %}
rlimit_core = {{ fpm_config['rlimit_core'] }}
{% endif %}

{% if fpm_config['events.mechanism'] is defined %}
events.mechanism = {{ fpm_config['events.mechanism'] }}
{% endif %}

include={{ fpm_config['include'] }}
