;{{ ansible_managed }}

[{{ item.name }}]
{% for directive, value in item.iteritems() if directive != "name" %}
  {{ directive }} = {{ value }}
{% endfor %} 

; Defaults
{% for directive, value in php_fpm_pool_defaults.iteritems() %}
  {{ directive }} = {{ value }}
{% endfor %}